<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
     <!--CSS-->
     <link rel="stylesheet" href="style.css">
     <!-- BOOTSTRAP -->
     <link
       rel="stylesheet"
       href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
       integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
       crossorigin="anonymous"
     />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
 
      <!-- Fontawesome -->
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>
 
      <!-- VueJS -->
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
 
     <!--JS-->
     <script defer src="script.js"></script>
</head>
<body>
    <div class="container">
        <div class="container my-5" id="board" >
            <div class="row h-100">

            <!-- NAVBAR SECTION -->
                <section class="col px-0 border-end border-primary" id="user-navbar">
                <!-- HEADER -->
                    <header id="user-menu-header" class="menu-bar">
                        <div class="h-100 d-flex justyfy-content-beetwe align-items-center">
                            <img :src=`img/avatar${user.avatar}.jpg` :alt="user.name" class="avatar-img">
                            <span class="fw-bolder">{{ user.name}}</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-arrows-rotate"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- ACTIVE NOTICE -->
                    <div id="active-notice" class="d-flex align-items-center p-4">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="m-2">
                            <p class="m-0 fw-bolder">Ricevi notifiche di nuovi messaggi</p>
                            <span class="text-decoration-underline text-secondary">Attiva notifiche desktop</span>
                        </div>
                    </div>
                    <!-- SEARCH BAR -->
                    <div id="search-chat" class="p-2">
                        <input type="text" class="form-control p-2" placeholder="   &#128269;             Cerca o inizia una nuova chat">
                    </div>
                    <!-- CONTACT LIST -->
                    <div id="contact-list" class="overflow-auto p-3">
                        <div v-for="(contact, i) in contacts" class="my-3 py-2 d-flex" :class="{'slctd': selectedIndex === i }" @click="changeCurrentIndex(i)">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="avatar_1" class="avatar-img">
                            <div class="w-100">
                                <div class="d-flex justify-content-between px-2">
                                    <span class="fw-bolder">{{ contact.name}} </span>
                                    <span class="text-secondary">{{ contact.messages[getLastIndex(i)].date }}</span>
                                </div>
                                <div class="px-2 text-secondary">{{ contact.messages[getLastIndex(i)].text }}</div>
                            </div>
                        </div>
                    </div>
                </section>

            <!-- CHAT SECTION-->
            <section class="col-7 px-0" id="chat">
                <!-- CHAT HEADER -->
                <header id="chat-header" class="menu-bar">
                    <div class="h-100 d-flex justyfy-content-beetwe align-items-center">
                        <img src="img/avatar_1.jpg" alt="avatar_1" class="avatar-img">
                        <span>Michele</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <!-- CHAT BOARD -->
                <div id="chat-board" class="overflow-auto d-flex flex-column">

                    <div v-for="(message,i) in contacts[selectedIndex].messages" class="msg-box" :class="message.status">
                        {{ message.text }}<span class="send-moment">{{ message.date}}</span>
                    </div>
                </div>

                <!-- CHAT FOOTER -->
                <footer id="chat-footer" class="footer-bar">
                    <i class="fa-regular fa-face-smile"></i>
                    <div class="input-group px-3">
                        <input type="text" class="form-control" placeholder="Scrivi un messaggio">
                    </div>
                    <i class="fa-solid fa-microphone"></i>
                </footer>
            </section>

        </div>  
    </div>

</body>
</html>