/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */
:root{
    --green:#009688;
    --grey:#D8DBD5;
    --light-grey:#EAEAEA;
    --light-blue:#8EDAFC;
}

/* UTILITIES */
.container{ 
    max-width: 1200px;
    margin: 0 auto;
}

/* GENERICS */
body{
    font-family: sans-serif;
    background-image: linear-gradient(var(--green) 15%, var(--grey) 15%);
    height: 100vh;
    padding: 20px;
}

.avatar-img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin: 0 10px;
}

i{
    color:gray;
    font-size: 25px;
    padding: 0 5px;
    cursor: pointer;
}

/* MAIN */
#board{
    height:700px;
    background-color: white;
}

.menu-bar{
    height: 70px;
   background-color: var(--light-grey);
   position: sticky;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

/* NAVBAR SECTION */
#active-notice{
    height: 80px;
    background-color: var(--light-blue);
 }
 
 #search-chat{
   background-color: white;
 }
 
 #active-notice i {
     color: var(--light-blue);
     padding: 12px 10px;
     border-radius: 50%;
     background-color: white;
 }
 
 #contact-list{
     height: 480px;
     cursor: pointer;
 }

 .hvr:hover {
    background-color: var(--light-grey);
 }

 .selected {
    background-color: var(--light-grey);
 }

 

/* CHAT SECTION */
#chat-board{
    background-image: url(img/mine.jpg);
    height: calc(100% - 140px);
}

.msg-box{
    width: 300px;
    min-height: 50px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    padding: 15px;
    position: relative;
}

.sent{
    background-color: #D5F9BA ;
    align-self: flex-end;
}

.received{
    background-color: white;
}

.send-moment{
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom:0;
    left:175px;
}

.footer-bar{
    height: 70px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
 }